@model MultiAuthDemo.Models.RegisterViewModel
@{ ViewBag.Title = "Automobile Service Center Planner"; }

<h2>@ViewBag.Title.</h2>

<link href="~/Template/css/TempRegistration.css" rel="stylesheet" />

<h2>SignUp</h2>
<div class="container right-panel-active" id="container">
    <div class="form-container sign-up-container">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

            <h1>Create Account</h1>
            <div class="social-container"></div>
            @Html.TextBoxFor(m => m.Email, new { @class = "", placeholder = "Email" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "", placeholder = "User Name" })
            @Html.PasswordFor(m => m.Password, new { @class = "", placeholder ="Password"})
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "", placeholder ="ConfirmPassword"})
            @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, " ")
                 
                <input type="submit" class="ghost" id="signIn" value="SignUp" />    
        }
    </div>
     
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <a href="@Url.Action("Login", "Account")"><button class="ghost" id="signIn">Sign In</button></a>
            </div>
             
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

